# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  vmImageName: 'ubuntu-latest'
  dockerRegistryServiceConnection: '{{ containerRegistryConnection.Id }}'


stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build job
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: CMake@1
      displayName: Build a docker image 
      inputs:
       cmakeArgs: image
    - task: Docker@2
      displayName: push image to dockerHub
      inputs:
       command: push
       containerRegistry: $(dockerRegistryServiceConnection) 